style.css
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
}


.box {
    width: 150px;  
    height: 150px; 
    border: 5px solid #333; 
}

.text-box {
    height: auto; 
    padding: 20px;
    background-color: #e0f0f5; 
    border: 10px solid #000;
    font-size: 13px;
    width: 150px;
    height: 150px;
}

.yellow-box {
    background-color: yellow;
    height: 150px; 
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin-left: 210px;
}

.pink-box {
    background-color: pink;
    height: 150px;
    border: 10px solid black;
    margin-left: 40px;
}